*{
  margin: 0;
  padding: 0;
  
}
.name{
  text-align: center;
  color: blue;
  font-size: 90px;
}
.about{
  text-align: center;
  font-size:40px;

}
.body{
  background-color: rgb(139, 139, 153);
}
.productimg{
  width: 500px;
  height: 500px;
}
.cards{
  /* background-color: gray; */
  display: grid;
  grid-template-columns: 550px ;
  gap: 20px;
  margin: 40px;
}
/* .card{
  display: grid;
} */
.cardes{
        
  /* background-color: burlywood; */
 }